In [4]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import warnings

warnings.filterwarnings('ignore')

In [12]:
train_data_df = pd.read_csv("/data/datasets/ml/sf-crime/train.csv")
train_data_df[:5]

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [28]:
train_data_df['_cc'] = pd.factorize(train_data_df["Category"])[0] 
train_data_df['_cc'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38])

In [24]:
lencoder = LabelEncoder()
crime_type_encode = lencoder.fit_transform(train_data_df['Category'])
set(crime_type_encode);

In [22]:
for col in train_data_df.columns:
    train_data_df[col] = lencoder.fit_transform(train_data_df[col])
train_data_df[:5]

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,389256,37,866,6,4,0,19790,18787,23130
1,389256,21,810,6,4,0,19790,18787,23130
2,389255,21,810,6,4,0,22697,19317,32784
3,389254,16,404,6,4,11,4266,18403,32936
4,389254,16,404,6,5,11,1843,13848,21892

In [ ]:
hour = pd.to_datetime(train_data_df['Dates']).dt.hour

In [19]:
hour

0         23
1         23
2         23
3         23
4         23
          ..
878044     0
878045     0
878046     0
878047     0
878048     0
Name: Dates, Length: 878049, dtype: int64