In [10]:
import os
import csv
import json
import requests
import pandas as pd
from random import sample
from urllib.request import urlretrieve
from k12libs.utils.nb_easy import k12ai_get_top_dir, RACEURL
from k12libs.utils.nb_easy import K12AI_DATASETS_ROOT

In [5]:
DATA_PREFIX = f'{K12AI_DATASETS_ROOT}/cv'

In [83]:
def data_collect(dname):
    all_data = []
    root = f'{DATA_PREFIX}/{dname}'
    with open(f'{root}/train.json', 'r') as fr:
        all_data.extend(json.load(fr))
    with open(f'{root}/val.json', 'r') as fr:
        all_data.extend(json.load(fr))
    with open(f'{root}/test.json', 'r') as fr:
        all_data.extend(json.load(fr))
    with open(f'{root}/info.json', 'r') as fr:
        info = json.load(fr)
    df = pd.DataFrame(all_data)
    df['label'] = df.label.map({i: x for i, x in enumerate(info['label_names'])})
    return df

## rDogsVsCats

In [88]:
df = data_collect('rDogsVsCats')
df.groupby(by='label').agg(['count']).apply(lambda x: x / len(df))

      image_path
           count
label
cat          0.5
dog          0.5

## rcifar10

In [90]:
df = data_collect('rcifar10')
df.groupby(by='label').agg(['count']).apply(lambda x: x / len(df))

      image_path
           count
label
bird         0.1
car          0.1
cat          0.1
deer         0.1
dog          0.1
frog         0.1
horse        0.1
plane        0.1
ship         0.1
truck        0.1

## rfruits

In [91]:
df = data_collect('rfruits')
df.groupby(by='label').agg(['count']).apply(lambda x: x / len(df))

       image_path
            count
label
Apple    0.201042
Banana   0.201042
Lemon    0.201042
Orange   0.195832
Pear     0.201042

## rchestxray

In [92]:
df = data_collect('rchestxray')
df.groupby(by='label').agg(['count']).apply(lambda x: x / len(df))

       image_path
            count
label
covid         0.5
normal        0.5

## rflowers

In [93]:
df = data_collect('rflowers')
df.groupby(by='label').agg(['count']).apply(lambda x: x / len(df))

                image_path
                     count
label
bluebell          0.045455
buttercup         0.045455
coltsfoot         0.045455
cowslip           0.045455
coxcomb           0.045455
crocus            0.045455
daffodil          0.045455
daisy             0.045455
dandelion         0.045455
flamingo          0.045455
fritillary        0.045455
iris              0.045455
lily              0.045455
lilyvalley        0.045455
lotus             0.045455
pansy             0.045455
salviasplendens   0.045455
snowdrop          0.045455
sunflower         0.045455
tigerlily         0.045455
tulip             0.045455
windflower        0.045455

## rmnist

In [94]:
df = data_collect('rmnist')
df.groupby(by='label').agg(['count']).apply(lambda x: x / len(df))

      image_path
           count
label
0            0.1
1            0.1
2            0.1
3            0.1
4            0.1
5            0.1
6            0.1
7            0.1
8            0.1
9            0.1